/************************************************/
/*                TEXT COMPONENT                */
/************************************************/

* {
  margin: 0;
  padding: 0;
}

.is-header {
  background: #44A08D;
  background: -webkit-linear-gradient(to right, #093637, #44A08D)
              linear-gradient(to right, #093637, #44A08D);

  padding: 5rem 4rem;
}

.is-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;

  list-style-type: none;

  padding: 1rem 0;
  width: 75%;
  margin: 0 auto;
}

.is-navigation li {
  flex: 1 0;
  text-align: center;
}

.is-navigation li a {
  text-decoration: none;
  color: rgb(30, 30, 30);
  font-weight: 600;
}