/************************************************/
/*                TEXT COMPONENT                */
/************************************************/

/* Setting default text style for text tags */
h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Montserrat';
  font-weight: 400;

  color: rgb(60, 60, 60);
}

.is-paragraph {
  font-size: 1.1rem;
  line-height: 1.4;
}

.is-title {
  /* Setting title as a bold one */
  font-size: 2.5rem;
  font-weight: 800;

  /* Modifying text aspect and spacing */
  line-height: 1.2;
  margin-bottom: .5rem;
  color: rgb(30, 30, 30);
}

.is-dark { color: #fff; }
.is-paragraph.is-dark { opacity: 0.9; font-weight: 300; }