/* OPACITY */
.opacity-80 {
  opacity: 0.8;
}

.opacity-90 {
  opacity: 0.9;
}

.opacity-60 {
  opacity: 0.6;
}

/* FILTER EFFECTS */
.shadow-lg {
  --shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-colored: 0 10px 15px -3px var(--shadow-color), 0 4px 6px -4px var(--shadow-color);
  box-shadow: var(--ring-offset-shadow, 0 0 #0000), var(--ring-shadow, 0 0 #0000), var(--shadow);
}

.brightness-50 {
  --brightness: brightness(.5);
  filter: var(--filter);
}

.drop-shadow-lg {
  --drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  filter: var(--filter);
}

.filter {
  filter: var(--filter);
}

/* TRANSITION PROPERTIES */
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-200 {
  transition-duration: 200ms;
}

.duration-700 {
  transition-duration: 700ms;
}

.transform {
  transform: var(--transform);
}

/* HOVER EFFECTS */
.hover\:bg-opacity-\[0\.35\]:hover {
  --bg-opacity: 0.35;
}

.hover\:underline:hover {
  text-decoration: underline;
}

.group:hover .group-hover\:scale-110 {
  --scale-x: 1.1;
  --scale-y: 1.1;
  transform: var(--transform);
}
