@media (min-width: 1024px) {
  .lg\:order-last {
    order: 9999;
  }

  .lg\:mt-0 {
    margin-top: 0px;
  }

  .lg\:mr-16 {
    margin-right: 4rem;
  }

  .lg\:h-96 {
    height: 24rem;
  }

  .lg\:w-3\/4 {
    width: 75%;
  }

  .lg\:w-1\/2 {
    width: 50%;
  }

  .lg\:w-4\/5 {
    width: 80%;
  }

  .lg\:w-1\/3 {
    width: 33.333333%;
  }

  .lg\:w-2\/3 {
    width: 66.666667%;
  }

  .lg\:w-full {
    width: 100%;
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:rounded-xl {
    border-radius: 0.75rem;
  }

  .lg\:p-4 {
    padding: 1rem;
  }

  .lg\:py-24 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .lg\:py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .lg\:text-left {
    text-align: left;
  }

  .lg\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

@media (min-width: 1280px) {
  .xl\:w-1\/2 {
    width: 50%;
  }
}